[alias]
    s = status
    c = commit
    cm = commit -m
    cam = commit -am
    co = checkout
    cob = checkout -b
    b = branch

    # Checkout and pull
    cop = "!f() { git checkout \"$1\" && git f $$ git rb; }; f"
    copm = !"git cop master"
    copd = !"git cop develop"

    f = fetch
    fa = fetch --all
    mt = mergetool
    d = "diff -w -- ':(exclude)yarn.lock'" # Ignores whitespace and excludes lock file
    p = pull
    u = pull
    mc = merge --continue
    
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

    lbase = log --graph --date-order --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'

    # Colorful commit log sorted by date
    l = !"git lbase --all"

    # Colorful commit log sorted by date, showing only ancestors of HEAD
    lh = !"git lbase HEAD"

    # Push a new branch for the first time
    pf = !"git push -u origin $(git symbolic-ref --short HEAD)"

    # Gett specific (probably because of branch names)
    squash = reset --soft $(git merge-base HEAD origin/dev)

    # Show last commit
    last-commit = diff HEAD^..HEAD
    # Show last commit files
    last-commit-files = show --name-only
    # Show my last commit
    my-last-commit = !"git show $(git log --date-order --format=format:'%h' --author=gbarr -n 1)"

    # Undo last local commit (This keeps the changes but removes the commit)
    undo-last-commit = "reset HEAD~"

    # Delete all untracked files
    rm-untracked = clean -d -f

    # reset --hard
    hard-reset = reset --hard

    # rerun tests - pushes an empty commit
    rr = commit -m "rerun" --allow-empty

    # Update current branch (assuming i'm not on dev)
    ub = "git checkout dev && git pull && git checkout - && git merge dev"

[user]
	email = gillyb@gmail.com
	name = Gilly Barr
	signingkey = /Users/gbarr/.ssh/id_ed25519.primary
[pull]
	rebase = true
[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
  editor = nvim
[push]
  autoSetupRemote = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Users/gillyb/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[credential]
	helper = osxkeychain
[help]
	autocorrect = prompt
